<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.takcad.plugin"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.LOCAL_MAC_ADDRESS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- For ExCheck -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_security_config"
        android:exported="true"
        android:requestLegacyExternalStorage="true" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>


       <!-- allow for plugin discovery -->
       <activity android:name="com.atakmap.app.component"
           tools:ignore="MissingClass" android:exported="true">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>
       </activity>



    </application>

</manifest>
